.cemter {
  display:block;
  margin-left:auto;
  margin-right:auto;
  animation-name:uno;
  animation-duration:5s;
  animation-delay:1s;
  animation-iteration-count:infinite;
  height:0;
}
body {
  animation-name:uno;
  animation-duration:5s;
  animation-delay:1s;
  animation-iteration-count:infinite;
}

@keyframes uno {
  0% {
    background-color:red;
    height:0;
  }
  10% {
    background-color:red;
    height:10vh;
  }
  20% {
    background-color:yellow;
    height:20vh;
  }
  50% {
    background-color:green;
    height:50vh;
  }
  100% {
    background-color:transparent;
    height:0;
  }
}

h1 {
  text-align:center;
  font-family: 'Krona One', sans-serif;
  animation-name:header;
  animation-iteration-count:infinite;
  animation-duration:5s;
}

@keyframes header {
  0% {font-size:100%;}
  50% {font-size:500%;}
  100% {font-size:100%;}
}

.lower {
  display:block;
  position:fixed;
  bottom:0;
  right:0;
  animation-name:bread;
  animation-duration:5s;
  animation-iteration-count:infinite;
  overflow:cover;
}

@keyframes bread {
  0% {
   
    height:100%;
  }
  50% {
 
    height:0;
  }
  100% {
  
    height:100%;
  }
}